* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #444;
}

.container {
    height: 95vh;
    width: 90vw;
    background-color: #f4f4f4;
    border-radius: 7px;
    box-shadow: 0 0 5px 5px rgb(0, 0, 0, 0.1);
    overflow: hidden;
}

.container h1 {
    text-align: center;
    padding: 18px 0;
}

.container p {
    padding: 10px;
}

.container p span {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(73, 185, 240);
    display: block;
    width: 70%;
    padding: 10px 30px;
    font-size: 1.1rem;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    /* padding: 10px 40px; */
    /* background-color: red; */

}